@import 'utilities.css';

:root {
    /* color reset */
    --primary: #3DCFD3;
    --secondary: black;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
}

body {
    height: 8000;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    /* backgroun reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

header {
    background: var(--dark);
    padding-bottom: 8rem;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .right a {
    text-decoration: none;
    color: var(--pure);
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 2rem;
}

header nav .branding img {
    height: 60px;
    width: 180px; /* Fixed missing unit */
    padding-left: 12rem;
}

.hero {
    padding: 3rem 0rem;
    margin-bottom: 8rem;
}

.hero .left img {
    width: 400px;
}

.hero .right {
    color: var(--pure);
    margin-top: -7rem;
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: var(--primary);
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

section {
    padding: 6rem 0;
}

section.about.about-me-img {
    height: 450px;
}

section.about h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

.skill-category li {
    color: var(--secondary);
    padding: 1px 15px;
    display: inline-block;
    margin: -2px 0;
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem; /* Added unit */
}

.skill-category h4 {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 5px;
    border-radius: 5px;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

section.work {
    background: var(--light);
}

.section-heading span {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
}

section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

section.work .card-wrapper .card {
    height: 250px;
    position: relative;
}

section.work .card-wrapper .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

section.work .card-wrapper .card:hover .overlay {
    opacity: 1;
}

section.work .card-wrapper .card .overlay a {
    color: rgba(43, 31, 31, 0.8);
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

section.work .card-wrapper .card .overlay a:hover {
    color: rgba(43, 31, 31, 1);
}

section.work .card-wrapper .card img {
    height: 100%;
    width: 100%;
}

section.learning {
    text-align: center;
    color: var(--pure);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(camera.png);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 10rem;
}

.skill {
    display: inline-block;
    margin: 5px;
}

.skill i {
    font-size: 50px;
    margin-bottom: 5px;
}

.skill p {
    margin-top: 5px;
}

.learning h2 {
    margin: 2rem;
}

.learning i {
    color: var(--primary);
}

.learning button {
    margin: 4rem;
    border: 2px solid #000;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 3rem;
    transition: all 0.3s;
}

.learning button a {
    color: rgb(43, 31, 31);
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
}

section.contact .card-wrapper .card {
    text-align: center;
}

section.contact .card-wrapper .card i {
    font-size: 36px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

section.contact .card-wrapper .card h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6 a {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}

footer {
    background: var(--dark);
    text-align: center;
    padding-top: 1rem;
}

footer img {
    height: 70px;
    width: 150px;
    margin-bottom: 1rem;
}

footer .footer-socials {
    margin-bottom: 1rem;
}

footer .footer-socials a {
    background: var(--dark);
    color: lightgrey;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
    margin-right: 10px;
    margin-top: 30px;
    font-size: 24px;
}

footer .copyright {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
}

.site-main-wrapper {
    position: relative;
}

.hamberger {
    position: absolute;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    color: var(--light);
    font-size: 1.6rem;
    padding-top: 2rem;
    outline: none;
    cursor: pointer;
    display: none;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    transform: translatex(-100%);
    transition: all .5s ease-in-out;
}

.open {
    transform: translatex(0);
}

.times {
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times i {
    font-size: 30px;
}

.mobile-nav ul {
    list-style-type: none;
}

.mobile-nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 5rem;
}

.mobile-nav ul li img {
    width: 200px;
    height: 80px;
    margin-left: -20px;
}

/* media tags */
@media (max-width:1024px) {
    header #main-nav {
        display: none;
    }

    .hamberger {
        display: block;
    }

    .hero .left img {
        width: 260px;
    }

    .hero .right {
        font-size: 3rem;
    }

    .hero {
        padding-top: 10rem;
        padding-bottom: 300px;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }

    section.about .about-me-img {
        height: 360px;
    }

    section.work .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px) {
    .hero {
        flex-direction: column;
        padding-bottom: 600px;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }

    .hero .right {
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
        height: 100%;
    }

    .hero .right p {
        font-size: 2rem;
    }

    .hero .left {
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 4rem;
    }

    .about-inner-wrap {
        flex-direction: column;
    }

    .about .right {
        text-align: center;
        margin-top: 2rem;
    }

    .about .right .social {
        justify-content: center;
    }

    section {
        padding: 3rem 0;
    }

    section.freelancer h1 {
        line-height: 1.2;
    }

    section.freelancer {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem;
    }

    section.work .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.contact .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.contact .input-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}
